@import "base/_global.css";
@import "modules/_primary-nav.css";

.box {
  width: 150px;
  height: 150px;
  border-top: 5px solid rebeccapurple;
  border-right: 5px solid grey;
  border-bottom: 5px dotted red;
  border-left: 5px dotted blue;
  padding-top: 40px;
  margin-bottom: 30px;
}

.vertical {
  writing-mode: vertical-rl;
  inline-size: 150px;
  block-size: 150px;
  border-block-start: 5px solid rebeccapurple;
  border-block-end: 5px dotted red;
  border-inline-start: 5px dotted blue;
  border-inline-end: 5px solid gray;
  padding-block-start: 40px;
  margin-block-end: 30px;
}
